<script src="extensions/editable/bootstrap-table-editable.js"></script>
<form ngForm>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
    </div>

    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" [(ngModel)]="model.age" name="age">
    </div>

    <button type="submit" class="btn btn-primary submitBtn" (click)="createCustomer()">Submit</button>
    <button type="submit" class="btn btn-primary submitBtn" (click)="updateCustomer()">Update</button>

</form>



<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col"></th>                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let cust of custArray; let idx=index;' class="customerLi">
                <td [class]="returnIndex(idx)">{{cust.name | uppercase}}</td>
                <td [class]="returnIndex(idx)"> {{cust.age | testPipe:2}}</td>
                <td>
                    <span class="btnContainer"><button class="btn btn-primary"
                    [class]="returnEditIndex(idx)" (click)="editInput(idx)"
                    >Edit</button>
                </span>

                <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Edit</button> -->

                <span class="btnContainer"><button class="btn btn-primary"
                        (click)="deleteCustomer(idx)">Delete</button></span>
                        </td>
                </tr>
        </tbody>
    </table>
   
</div>

<div>
    <ol>
        <li appHighlight color="white" *ngFor='let user of getData' class="customerLi">
            {{user.first_name}} <b>||</b> {{user.email}}

        </li>
    </ol>
</div>


<!-- <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit User</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      Name:<input type="text">
      Age:<input type="number">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template> -->